@charset "UTF-8";


/*área de variáveis*/
:root{
    --cor0: #00E6B7;
    --cor1: #1FBB9C;
    --cor2: #30917D;
    --cor3: #33665C;
    --cor4: #283C38;
    --cor5: #2B3331;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

/*para todos, tirar as margens e paddings padrão*/
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url('/Imagens/pattern004.png');
    
}

header{
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1{
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.427);
}

header > p{
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    padding-bottom: 50px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.353);
}